@use './variables' as *;

.button {

  padding: 12px 22px;

  border: 0;

  border-radius: 12px;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;

  transition: .15s;
}

.button--small {
  padding: 8px 14px;
  font-size: 0.9rem;
  min-height: auto;
}

.button:hover:not(:disabled) {
  transform: translateY(-1px);
}

.button:active:not(:disabled) {
  transform: scale(.98);
}

.button:disabled {
  opacity: .45;
  cursor: default;
}

.button--primary {
  background: $color-primary;
  color: white;
}

.button--secondary {
  background: $color-dark;
  color: white;
}

.button--success {
  background-color: $color-success;
  color: white;

  &:hover {
    background-color: $color-success-hover;
  }
}

.button--danger {
  background-color: $color-danger;
  color: white;

  &:hover {
    background-color: $color-danger-hover;
  }
}
