$color-primary: #11895a;
$color-primary-hover: #0e734b;

$color-dark: #2f3337;

$color-background: #ffffff;
$color-border: #e7e7e7;

$color-text: #171717;
$color-text-secondary: #666666;

$shadow-card: 0 8px 20px rgba(24, 24, 24, 0.06);

$shadow-modal: 0 20px 60px rgba(0, 0, 0, 0.25);

$border-radius: 18px;