<div class="backdrop">
  <div class="modal">
    @switch (view()) {
      @case ("menu") {
        <app-admin-menu
          (createProduct)="openCreateProduct()"
          (manageProducts)="openManageProducts()"
          (close)="close.emit()"
        />
      }

      @case ("create-product") {
        <app-create-product (cancel)="backToMenu()" (saved)="close.emit()" />
      }

      @case ("manage-products") {
        <app-manage-products (back)="backToMenu()" />
      }
    }
  </div>
</div>
