<h2 class="create-product__title">
  {{ isEditMode ? "Editar producto" : "Nuevo producto" }}
</h2>

<form class="create-product__form" [formGroup]="form" (ngSubmit)="save()">
  <div class="form-field">
    <label for="nombre">Nombre</label>

    <input #nombreInput id="nombre" type="text" formControlName="nombre" />
  </div>

  <div class="form-field">
    <label for="unidad">Unidad</label>

    <input id="unidad" type="text" formControlName="unidad" />
  </div>

  <div class="form-field">
    <label for="stock">Stock inicial</label>

    <input id="stock" type="number" formControlName="stock" />
  </div>

  <footer class="create-product__footer">
    <button
      class="button button--secondary"
      type="button"
      (click)="cancel.emit()"
    >
      Cancelar
    </button>

    <button
      class="button button--primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Guardar
    </button>
  </footer>
</form>
